body {
    margin: 60px auto;
    width: 70%;
}
a {
    color: darkred;
    font-size: 1.0em;
    font-family:, 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bolder;
    text-decoration: underline;
 
    
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    ;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:darkgoldenrod
}
p {
    font-size: 1.5em;
    line-height: 2em;
    color:orchid;
}

img {
    position: static;
    left: 160px;
    top: 280px;
}

